<html>
<head>
  <title>Student Management System</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Student Management System</h1>
  <p>Welcome to the student management system.</p>
  <p>Click <a href="students/new">here</a> to create a new student.</p>

  <form>
<input type="button" value="Add a campus here" onclick="window.location.href='campuses/new'" />
</form>

<p>Click <a href="/chicago">here</a> to see who will be attending the chicago campus.</p>


  <ul>
    <% @students.each do |student| %>
      <li><%= student['name'] %>, <%= student['age'] %></li>
    <% end %>
  </ul>
</body>
</html>