.container {
	border: 10px solid red;
	position: relative;
	padding: 200px;
}
.octopus {
	border: 10px solid orange;
	position: absolute;
}
.glasses {
	border: 10px solid blue;
	position: absolute;
}

.hat {
	border: 10px solid green;
	position: absolute;
}