#container {
	position: relative;
	margin-left: 50%;
	top: 150px;
}
#octopus {
	position: absolute;
}
#glasses {
	position: absolute;
	left: 30px;
	top: 105px;
}

#hat {
	position: absolute;
	top: -80px;
	left: -15px;
}