.container {
	border: 10px solid red;
	position: relative;
	padding: 200px;
}
.center {
	border: 10px solid orange;
	position: absolute;
	margin-left: 50%;
	top: 125px;
}
.center-middle {
	border: 10px solid blue;
	position: absolute;
	left: 52%;
	top: 145%;
}

.center-top {
	border: 10px solid green;
}